.large {
  font-size: 40px;
  color: red;
  font-weight: 700;
  background: gold;
}


.App {
  text-align: center;
  background: cornflowerblue;
font-size: 30px;
  font-weight: 500;
  border: blue solid 1px;
  padding: 10px;
  margin: 0 auto;
}
.buttons {
  padding: 10px;
  border: blue solid 1px;
  font-size: 30px;
  background: #15c783;
}
.inc{
  align-content: center;

}